beautifulsoup4==4.9.1
boto3==1.14.16
botocore==1.17.16
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
Django==2.2.13
django-appconf==1.0.4
django-imagekit==4.0.2
django-storages==1.9.1
docutils==0.15.2
idna==2.9
imageio==2.8.0
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.2
networkx==2.4
numpy==1.19.0
opencv-python==4.1.2.30
pandas==1.0.5
pilkit==2.0
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
PyWavelets==1.1.1
requests==2.24.0
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
threadpoolctl==2.1.0
tifffile==2020.6.3
urllib3==1.26.5
xlrd==1.2.0
