{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- icon -->
    <script src="https://kit.fontawesome.com/90abbe42b6.js" crossorigin="anonymous"></script>    

    <style type="text/css">
        body {
        background-image: url('../static/22.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
        }
        nav {
            text-align: left;
        }
    </style>
</head>
<body>
    <!-- closet nav 복붙 -->
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'pages:profile_detail' %}" style="background-color: black; font-size: 24px; color: white;">
                {{ user.username }}
            </a>
            <!-- <span style="background-color:yellow; font-size: 24px;">{{ user.username }} 님, 안녕하세요!</span> -->
             <form action="{% url 'pages:logout' %}" method="POST">
                {% csrf_token %}
                <!-- <input type="submit" value='Logout'> -->
                <input class='btn btn-secondary btn-sm' type='submit' value='Logout'>
            </form>
        {% else %}
            <a href="{% url 'pages:login' %}">Login</a>
            <a href="{% url 'pages:signup' %}">Signup</a>
        {% endif %}
    </nav>
<center>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <form action="{% url 'pages:recom' %}">
        <fieldset style="width:500px; height: 200px;">
            <br>
            <h1 align="center" style="color: white;">Daily Styling 추천</h1>
            <br><br>

            <!-- 날짜 -->
            <span style="font-size: 20px;">날짜</span> 
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{% static 'datepicker-ko.js' %}"></script>

            <script>
                $(function() {
                    $( "#Datepicker" ).datepicker({
                        changeMonth: true, 
                        changeYear: true,
                        nextText: '다음 달',
                        prevText: '이전 달',
                        minDate: 0, 
                        maxDate: "+9D",
                        dateFormat: "yy-mm-dd",
                    });
                });
            </script>
            <input type="text" id="Datepicker" name="date" autocomplete="off">  <br><br>
                
                
            <!-- 추천 버튼 대신 돋보기 버튼 -->
            <!-- <input type='submit' value='추천' style="width:60px; height: 40px; font-size: 20px;"> -->
            <form style="text-align: center;">
                <button class="btn btn-dark">
                    <i class ="fas fa-search" style="font-size: 25px;"></i>
                </button>                
            </form>

        </fieldset>
    </form>

    <br><br><br><br><br><br><br><br>
    <a class="btn btn-secondary" href="{% url 'pages:closet' %}" role="button">Closet</a>

    <a class="btn btn-secondary" href="{% url 'pages:profile_detail' %}" role="button">Profile</a>

</center>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>