{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비회원</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'pages:profile_detail' %}" style="color:white; font-size: 24px; background-color: black;">
        {{ user.username }}
      </a>
      <form action="{% url 'pages:logout' %}" method="POST">
        {% csrf_token %}
        <input class='btn btn-primary btn-sm' type='submit' value='Logout'>
      </form>
    {% else %}
      <a class="btn btn-dark" href="{% url 'pages:login' %}" role="button">Home</a>
      <a class="btn btn-secondary" href="{% url 'pages:signup' %}" role="button">Signup</a>
      <a class="btn btn-light" href="{% url 'pages:non_sel' %}" role="button">Back</a>
    {% endif %}
  </nav>

  <h3 align="right" style="font-size: 18px;">회원가입 후 나만의 styling을 이용해보세요!</h3>
  <br>

  <div class="container">
    <!-- 날씨 -->
    <!-- <h2 style="font-size: 32px; font-weight: bold; text-align: center;">날씨 정보</h2> -->
    <div class="alert alert-success pb-0 pt-0 pr-0 pl-0" role="alert" style="text-align: center; font-size: 20px; color: black;">
      <strong>날씨 정보</strong>
    </div>

    <div class="card text-center">
      <div class="row justify-content-center">
        <div class="card border-dark">
          <div class="card-header text-secondary">오전</div>

          <img src="{% static weather_mor|add:'.png' %}" alt="{{ weather_mor }}" height="150px" class="px-5">
          
          <div class="card-body pb-2">
            <h5 class="card-title mb-0 font-weight-bold">
              {{ weather_mor_status }}
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">최저 {{ temp_mor }}℃</li>
            </ul>
          </div>
        </div>  

        <div class="card border-dark">
          <div class="card-header text-secondary">오후</div>
          <img src="{% static weather_aft|add:'.png' %}" alt="{{ weather_aft }}" height="150px" class="px-5">
          
          <div class="card-body pb-2">
            <h5 class="card-title mb-0 font-weight-bold">
              {{ weather_aft_status }}
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">최고 {{ temp_aft }}℃</li>
            </ul>
          </div>
        </div>
                       
      </div>
    </div>
    
    <br>
    <!-- <h1 style="font-weight: bold; text-align: center;">오늘 뭐 입지?</h1> -->
    <div class="alert alert-primary pb-0 pt-0 pr-0 pl-0" role="alert" style="text-align: center; font-size: 26px; color: black;">
      <strong>오늘 뭐 입지?</strong>
    </div>

    <div class="row">
      <!-- 스타일링 -->
      <div class="col-7">
        <div class="row">
          <div class="col-7">
            {% for image in image_list %}
            <div class="card border-dark">
              <img src="{{ image }}" alt="{{ image }}" class="img-fluid">
            </div>
            {% endfor %}
          </div>

          <div class="col-5">
            {% if outer_image %}
            <div class="card border-dark">
              <img src="{{ outer_image }}" alt="outer" class="img-fluid"> 
            </div>
            {% endif %}

            {% if umbrella %}
            <div class="card border-dark">
              <img src="../static/umbrella.jpg" alt="umbrella" class="img-fluid">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      <div class="col-1"></div>

      <!-- malls 2*3-->
      <div class=col-4>
        <div class="alert alert-light pb-0 pt-0 pr-0 pl-0" role="alert" style="text-align: center; font-size: 16px;">
          <strong>How about these?</strong>
        </div>
        <div class="row">
          <div class="card col-6">
            <a href="{{ url_list.0 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.0 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.0 }}</h5>
              <p class="card-text">{{ name_list.0 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center" >{{ price_list.0 }}</li>
            </ul>
          </div>
        
          <div class="card col-6">
            <a href="{{ url_list.1 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.1 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.1 }}</h5>
              <p class="card-text">{{ name_list.1 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ price_list.1 }}</li>
            </ul>
          </div>
        
          <div class="card col-6">
            <a href="{{ url_list.2 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.2 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.2 }}</h5>
              <p class="card-text">{{ name_list.2 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ price_list.2 }}</li>
            </ul>
          </div>
        
          <div class="card col-6">
            <a href="{{ url_list.3 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.3 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.3 }}</h5>
              <p class="card-text">{{ name_list.3 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ price_list.3 }}</li>
            </ul>
          </div>

          <div class="card col-6">
            <a href="{{ url_list.4 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.4 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.4 }}</h5>
              <p class="card-text">{{ name_list.4 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ price_list.4 }}</li>
            </ul>
          </div>
          <div class="card col-6">
            <a href="{{ url_list.5 }}" class="text-center" target="_blank"><img src="{{ shop_image_list.5 }}"/></a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ brand_list.5 }}</h5>
              <p class="card-text">{{ name_list.5 }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ price_list.5 }}</li>
            </ul>
          </div>
        </div>
      </div>    
    </div>

    <br>
    <!-- tips -->
    <!-- <h3 style="font-weight: bold; text-align: center;">Tips</h3> -->
    <div class="alert alert-warning pb-0 pt-0 pr-0 pl-0" role="alert" style="text-align: center; font-size: 20px; color: black;">
      <strong>Tips :)</strong>
    </div>

    <div class="card-deck">
      <div class="card">
        <a href="{{ tip_url.0 }}" target="_blank" class="text-center"><img src="{{ tip_thumbnail.0 }}"/></a>
        <!-- <iframe src="{{ tip_url.0 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <div class="card-body">
          <p class="card-text">{{ tip_title.0 }}</p>
        </div>
      </div>
      <div class="card">
        <a href="{{ tip_url.1 }}" target="_blank" class="text-center"><img src="{{ tip_thumbnail.1 }}"/></a>
        <div class="card-body">
          <p class="card-text">{{ tip_title.1 }}</p>
        </div>
      </div>

      {% if tip_url.2 and tip_thumbnail.2 and tip_title.2 %}
      <div class="card">
        <a href="{{ tip_url.2 }}" target="_blank" class="text-center"><img src="{{ tip_thumbnail.2 }}"/></a>
        <div class="card-body">
          <p class="card-text">{{ tip_title.2 }}</p>
        </div>
      </div>
      {% endif %}

      {% if tip_url.3 and tip_thumbnail.3 and tip_title.3 %}
      <div class="card">
        <a href="{{ tip_url.3 }}" target="_blank" class="text-center"><img src="{{ tip_thumbnail.3 }}"/></a>
        <div class="card-body">
          <p class="card-text">{{ tip_title.3 }}</p>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
</body>
</html>