{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
      body {
          overflow:scroll;
      }
  </style>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
        <a href="{% url 'pages:profile_detail' %}" style="color:white; font-size: 24px; background-color: black;">
            {{ user.username }}
        </a>
         <form action="{% url 'pages:logout' %}" method="POST">
            {% csrf_token %}
            <!-- <input type="submit" value='Logout'> -->
            <input class='btn btn-primary btn-sm' type='submit' value='Logout'>
        </form>
    {% else %}
        <a href="{% url 'pages:login' %}">Login</a>
        <a href="{% url 'pages:signup' %}">Signup</a>
    {% endif %}
</nav>

  <!-- 날씨 & 스타일링 -->
  <h2 style="font-size: 32px; font-weight: bold;">날씨 정보</h2><br>
  <div class="card text-center">
    <div class="card-group">
        <div class="card col-sm">
          <div class="card-header">오전</div>
          {% if weather_mor == 'ws1' %} 
          <img src="{% static 'ws1.png' %}" alt="ws1" width="250px" height="200px">
          {% elif weather_mor == 'ws5' %} 
          <img src="{% static 'ws5.png' %}" alt="ws5" width="250px" height="200px"> 
          {% elif weather_mor == 'ws7' %} 
          <img src="{% static 'ws7.png' %}" alt="ws7" width="250px" height="200px">
          {% elif weather_mor == 'ws9' %} 
          <img src="{% static 'ws9.png' %}" alt="ws9" width="250px" height="200px"> 
          {% elif weather_mor == 'ws22' %} 
          <img src="{% static 'ws22.png' %}" alt="ws22" width="250px" height="200px">
          {% elif weather_mor == 'ws15' %} 
          <img src="{% static 'ws15.png' %}" alt="ws15" width="250px" height="200px">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              {% if weather_mor == 'ws1' %} 
              맑음
              {% elif weather_mor == 'ws5' %} 
              구름많음
              {% elif weather_mor == 'ws7' %} 
              흐림
              {% elif weather_mor == 'ws9' %} 
              비
              {% elif weather_mor == 'ws22' %} 
              흐리고 가끔 비
              {% elif weather_mor == 'ws15' %} 
              흐리고 한때 소나기
              {% endif %}
            </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">최저 {{ temp_mor }}℃</li>
          </ul>
        </div>

      <div class="card col-sm">
        <div class="card-header">오후</div>
        {% if weather_aft == 'ws1' %} 
        <img src="{% static 'ws1.png' %}" alt="ws1" width="250px" height="200px">
        {% elif weather_aft == 'ws5' %} 
        <img src="{% static 'ws5.png' %}" alt="ws5" width="250px" height="200px"> 
        {% elif weather_aft == 'ws7' %} 
        <img src="{% static 'ws7.png' %}" alt="ws7" width="250px" height="200px">
        {% elif weather_aft == 'ws9' %} 
        <img src="{% static 'ws9.png' %}" alt="ws9" width="250px" height="200px"> 
        {% elif weather_aft == 'ws22' %} 
        <img src="{% static 'ws22.png' %}" alt="ws22" width="250px" height="200px">
        {% elif weather_aft == 'ws15' %} 
        <img src="{% static 'ws15.png' %}" alt="ws15" width="250px" height="200px">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {% if weather_aft == 'ws1' %} 
            맑음
            {% elif weather_aft == 'ws5' %} 
            구름많음
            {% elif weather_aft == 'ws7' %} 
            흐림
            {% elif weather_aft == 'ws9' %} 
            비
            {% elif weather_aft == 'ws22' %} 
            흐리고 가끔 비
            {% elif weather_aft == 'ws15' %} 
            흐리고 한때 소나기
            {% endif %}
          </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">최고 {{ temp_aft }}℃</li>
        </ul>
      </div>
    </div>
  </div>



<!-- 그리드 -->
    <!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            <div style="width:250px; height:290px; border:1px solid black; float:left;">
              <span>오전</span>
              {% if weather_mor == 'ws1' %} 
              <img src="{% static 'ws1.png' %}" alt="ws1" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">맑음</span>
              {% elif weather_mor == 'ws5' %} 
              <img src="{% static 'ws5.png' %}" alt="ws5" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">구름많음</span>
              {% elif weather_mor == 'ws7' %} 
              <img src="{% static 'ws7.png' %}" alt="ws7" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐림</span>
              {% elif weather_mor == 'ws9' %} 
              <img src="{% static 'ws9.png' %}" alt="ws9" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">비</span>
              {% elif weather_mor == 'ws22' %} 
              <img src="{% static 'ws22.png' %}" alt="ws22" width="250px" height="200px"><br> 
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐리고 가끔 비</span>
              {% elif weather_mor == 'ws15' %} 
              <img src="{% static 'ws15.png' %}" alt="ws15" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐리고 한때 소나기</span>
              {% endif %}
              <br>
              <span>최저 {{ temp_mor }}℃</span>
          </div>
          </div>

          <div class="col-sm">
            <div style="width:250px; height:290px; border:1px solid black; float:left;">
              <span>오전</span>
              {% if weather_aft == 'ws1' %} 
              <img src="{% static 'ws1.png' %}" alt="ws1" width="250px" height="200px"><br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">맑음</span>
              {% elif weather_aft == 'ws5' %} 
              <img src="{% static 'ws5.png' %}" alt="ws5" width="250px" height="200px"><br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">구름많음</span>
              {% elif weather_aft == 'ws7' %} 
              <img src="{% static 'ws7.png' %}" alt="ws7" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐림</span>
              {% elif weather_aft == 'ws9' %} 
              <img src="{% static 'ws9.png' %}" alt="ws9" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">비</span>
              {% elif weather_aft == 'ws22' %} 
              <img src="{% static 'ws22.png' %}" alt="ws22" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐리고 가끔 비</span>
              {% elif weather_aft == 'ws15' %} 
              <img src="{% static 'ws15.png' %}" alt="ws15" width="250px" height="200px"> <br>
              <span style="font-size: 20px; text-align: center; font-weight: bold;">흐리고 한때 소나기</span>
              {% endif %}
              <br>
              <span>최고 {{ temp_aft }}℃</span>
            </div>
          </div>
        </div> -->

        <br><br><br><br><br><br><br><br><br><br>
        <!-- <h2 style="font-size: 36px; font-weight: bold;">오늘 뭐 입지?</h2> <br>
        <div class="row">
          <div class="col-sm" style="width:400px; height:300px; border:1px solid black;">
              <img src="{{ image_list.0 }}" alt="{{ image_list.0 }}" width="400px" height="300px">
          </div>

          <div class="col-sm" style="width:400px; height:300px; border:1px solid black;">
            <img src="{{ image_list.1 }}" alt="{{ image_list.1 }}" width="400px" height="300px">
          </div>

          {% if image_list|length == 3 %}
          <div class="col-sm" style="width:400px; height:180px; border:1px solid black;">
              <img src="{{ image_list.2 }}" alt="{{ image_list.2 }}" width="400px" height="180px">
          </div>
          {% endif %} 

          <div class="w-100"></div>

          {% if image_list|length == 4 %}
            <div class="col-sm" style="width:330px; height:300px; border:1px solid black;">
              <img src="{{ image_list.3 }}" alt="{{ image_list.3 }}" width="330px" height="300px"> 
            </div>
          {% endif %}
         

          {% if weather_mor == 'ws9' or weather_mor == 'ws22' or weather_mor == 'ws15' %}
            <div style="width:330px; height:300px; border:1px solid white;"></div>
                <img src="../static/umbrella.jpg" alt="umbrella" width="320px" height="290px">
            </div>
          {% elif weather_aft == 'ws9' or weather_aft == 'ws22' or weather_aft == 'ws15'%}
              <div style="width:330px; height:300px; border:1px solid white;"></div>
                  <img src="../static/umbrella.jpg" alt="umbrella" width="320px" height="290px">
              </div>   
          {% endif %}
        </div>
      </div>
 쇼핑몰 -->
      <!-- <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="w-100"></div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>

tips
      <div class="container">
        <div class="row">
          <div class="col-sm">
            1 of 3
          </div>
          <div class="col-sm">
            2 of 3
          </div>
          <div class="col-sm">
            3 of 3
          </div>
          <div class="col-sm">
            4 of 3
          </div>
        </div>
      </div> -->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
</body>
</html>