<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile 변경</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
        body {
        background-image: url('../static/4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
</head>
<body>
    <!-- closet nav 복붙 -->
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'pages:profile_detail' %}" style="background-color:black; font-size: 24px; color: white;">
                {{ user.username }}
            </a>
             <form action="{% url 'pages:logout' %}" method="POST">
                {% csrf_token %}
                <input class='btn btn-secondary btn-sm' type='submit' value='Logout'>
            </form>
        {% else %}
            <a href="{% url 'pages:login' %}">Login</a>
            <a href="{% url 'pages:signup' %}">Signup</a>
        {% endif %}
    </nav>
    
    <center>
        <br><br><br><br><br><br><br>
        <h1 style='color:white;' align='center'>Profile Update</h1>
        <fieldset style="width:400px; height: 250px;">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    {{ form.gender.label }}
                    {{ form.gender }}
                    {{ form.gender.errors }}
                </p>
                <p>
                    {{ form.region.label }}
                    {{ form.region }}
                    <a id="region-search">찾기</a>
                    {{ form.region.errors }}
                </p>
                
                <ul id="region-result"></ul>
                
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    var regionInput = document.getElementById('id_region')
                    var searchButton = document.getElementById('region-search')
                    var regionResult = document.getElementById('region-result')

                    var search = function () {
                        dong = regionInput.value

                        regionResult.innerHTML = '<li>Searching...</li>'
                        axios.get('/search_region/',  {
                                        params: {
                                            dong: dong
                                        }
                                    })
                                .then(function (response) {
                                    regions = response.data.jibuns.map(function (region) {
                                        return region.join(' ')
                                    })
                                    regionResult.innerHTML = ''
                                    if (regions.length > 0) {
                                        regions.forEach(function (region) {
                                            const li = document.createElement('li')
                                            li.classList.add('region-result-item')
                                            li.append(region)
                                            regionResult.append(li)
                                        })

                                        items = document.querySelectorAll('.region-result-item')
                                        items.forEach(function (element) {
                                            element.addEventListener('click', function (e) {
                                                    regionInput.value = e.target.innerText
                                                    regionResult.innerHTML = ''
                                                })
                                            })
                                    } else {
                                        const li = document.createElement('li')
                                        li.classList.add('region-result-item')
                                        li.append('검색 결과가 없습니다 :(')
                                        regionResult.append(li)
                                    }
                                    
                                })
                    }
                    searchButton.addEventListener('click', search)
                </script>
                <br>

                <!-- {{ profile_form.gender }}<br> -->
            
                <!-- <input type="submit" value="Update" style="width:80px; height: 40px; font-size: 18px;"> -->
                <input class='btn btn-dark' type='submit' value='Update'>
            </form>
        </fieldset>
    </center>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>
